/* src/Styles/HeroSlider.css */

.hero-slider {
    /* display: flex; */
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    border: 5px solid #004d40;
    animation: borderPulse 3s infinite ease-in-out;
  }
  
  @keyframes borderPulse {
    0% {
      border-color: #004d40;
    }
    50% {
      border-color: #00796b;
    }
    100% {
      border-color: #004d40;
    }
  }
  
  .hero-slide {
    display: none;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
  }
  
  .slide-content {
    position: relative;
    z-index: 2;
    color: white;
  }
  
  .slide-content h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .slide-content p {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .slide-actions {
    display: flex;
    gap: 15px;
  }
  
  .slide-actions .btn {
    background-color: #00796b;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .slide-actions .btn:hover {
    background-color: #004d40;
  }
  
  .search-events {
    scroll-behavior: smooth;
  }
  
  .nextButton {
    background-color: #004d40;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 4;
    border: none;
    border-radius: 50%;
  }
  input[name='slider']{
    display:none
  }

  input[name='slider']:checked+div{
    display:flex;
  }