
.profile-page {
  display: flex;
  min-height: 100vh;
  background-color: #f0f4f8;
}

.side-menu {
  width: 250px;
  background-color: #004d40;
  padding: 20px;
  color: #ffffff;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a,
.side-menu ul li button {
  color: #ffffff;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
  text-align: left;
}

.side-menu ul li button:hover,
.side-menu ul li a:hover {
  color: #80cbc4;
}

.profile-content {
  flex: 1;
  padding: 20px;
}
